$primary-red: #F44336;
$dark-red: #C62828;

$lightest-gray: #F5F5F5;
$light-gray: #EEEEEE;
$primary-gray: #BDBDBD;
$dark-gray: #212121;

$cyan: #00BCD4;
$amber: #FFC107;
$indigo: #3F51B5;
$pink: #E91E63;
$green: #8BC34A;

$white: #FFFFFF;
$black: #000000;

$fa-font-path: "../node_modules/font-awesome/fonts";